name: Update Stock Prices

on:
  workflow_dispatch:
  schedule:
    # 22:00 UTC = 19:00 BRT (pós-pregão)
    - cron: '0 22 * * 1-5'

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Criar .env a partir do Secret
        run: |
          echo "${{ secrets.ENV }}" > .env

      - name: Criar credentials.json
          echo "${{ secrets.GCP_CREDENTIALS_JSON }}" > credentials.json

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python main.py
